#Node
AngularFrontEnd/node_modules
AngularFrontEnd/dist

#Angular
AngularFrontEnd/.angular

#Laravel
LaravelBackEnd/vendor
LaravelBackEnd/node_modules
LaravelBackEnd/.env

#Logs
*.log

#OS
.DS_Store
Thumbs.db